@font-face {
    font-family: Raleway;
    src: url(./assets/Raleway-Italic-VariableFont_wght.ttf);
    src: url(./assets/Raleway-VariableFont_wght.ttf);
}

* {
    font-family: Raleway;
}

body {
    margin: 0%;
}

section {
    margin: 0px 100px 0px 50px;
}

header {
    margin: 0px 120px 0px 370px;
}

main {
    margin: 0px 80px 0px 30px;
}



#img {
    width: 100px;
    height: 50px;
}

/* -------------------------------------------------------HEADER-----------------------------------------------*/

.BoxHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxlien {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 100px;
}

.lien1,
.lien2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 98px;
    font-weight: bold;
    width: 100%;
}

.lien1:hover,
.lien2:hover {
    border-top: solid 2px #0065fc;
    color: #0065fc;
}

h2 {
    font-weight: bold;
}

/*-----------------------------------------------------FORMULAIRE-------------------------------------------------------*/

.Boxform {
    height: 50px;
    width: 350px;
    margin: 20px 0px 20px 0px;
}

form {
    width: 100%;
    height: 100%;
    position: relative;
}

.Formulaire1 {
    width: 10%;
    border: solid 1px;
    border-radius: 15px 0px 0px 15px;
    border: solid 2px rgba(128, 128, 128, 0);
    background-color: #f2f2f2;
    position: absolute;
    left: 0%;
    height: 46px;
}

.Formulaire2 {
    width: 55%;
    height: 100%;
    position: absolute;
    right: 35%;
}

.Formulaire3 {
    width: 35%;
    height: 100%;
    position: absolute;
    right: 0%;
}

#location {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    border-radius: 14px 0px 0px 14px;
}

#iconesearch {
    display: none;
}

.submit {
    background-color: #0065fc;
    border-radius: 0px 15px 15px 0px;
    height: 100%;
    padding: 0px;
    width: 100%;
    border: hidden;
    font-weight: bold;
    font-size: 17px;
    color: white;
}

input::placeholder {
    font-size: 17px;
    color: black;
    font-weight: bolder;
}

.search {
    height: 92%;
    padding: 0px;
    width: 92%;
    border: solid 2px rgba(128, 128, 128, 0.068);
    text-decoration: none;
    padding-left: 12px;
    padding-right: 5px;
}

/*--------------------------------------------------------FILTRE-------------------------------------------------*/

.Allfiltres {
    display: flex;
    align-items: center;
}

.Boxeconomique,
.Boxfamilial,
.Boxromantique,
.Boxanimaux {
    margin: 0px 15px 0px 15px;
    display: flex;
    align-items: center;
    border: solid 2px rgba(128, 128, 128, 0.308);
    border-radius: 30px;
    height: 46px;
}

.economique,
.familial,
.Romantique,
.animauxautorises {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #deebff;
    border-radius: 50%;
    margin-left: -2px;
}

.TextAnimaux,
.TextEconomique,
.TextFamilial,
.TextRomantique {
    padding-right: 25px;
    padding-left: 25px;
    font-weight: bolder;
}

.Iconefamilial,
.Iconeeconomique,
.Iconeanimaux,
.Iconeromantique {
    color: #0065fc;
}

.Helptext {
    display: flex;
    justify-content: flex-start;
    margin: 25px 0px 25px 0px;
}

.InfoText {
    padding-left: 20px;
}

#IconeInfo {
    display: flex;
    justify-content: center;
    width: 21px;
    height: 21px;
    border: solid 1px rgba(128, 128, 128, 0.219);
    border-radius: 50%;
    color: #0065fc;
}

/*---------------------------------------------Hebergement et populaires---------------------------------------------------------*/

.CardHebergementetPopulaire {
    display: flex;
    justify-content: space-around;
}

.sizeHebergements {
    flex: 2;
    box-sizing: border-box;
    background-color: #f2f2f2;
    margin-right: 20px;
    border-radius: 20px;
}

.sizePopulaire {
    flex: 1;
    box-sizing: border-box;
    background-color: #f2f2f2;
    margin-left: 20px;
    border-radius: 20px;
}

/*--------------------------------------------- Hebergement--------------------------------------------------*/

.Cardtop,
.Cardbottom {
    display: flex;
    justify-content: space-between;
    margin: 0px 4% 3.5% 4%;
}

.TitreHebergement {
    font-size: 25px;
    margin: 5% 0% 3% 4%;
    font-weight: 1000;
}

.NomLogementsHebergement {
    font-weight: bold;
    font-size: large;
    margin: 0px;
    padding: 4% 0px 1% 0px;
    font-size: 20px;
}

.prixHebergements {
    margin: 0px;
    padding: 2% 0px 2% 0px;
    font-size: 15px;
    font-weight: 500;
}

.firstCard,
.secondcard,
.thirdcard,
.fourcard,
.fivecard,
.sixcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
    height: 225px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 20px 2px rgba(128, 128, 128, 0.527);
    padding: 2%;
}

.firstCard:hover,
.secondcard:hover,
.thirdcard:hover,
.fourcard:hover,
.fivecard:hover,
.sixcard:hover,
.Card1populaires:hover,
.Card2populaires:hover,
.Card3populaires:hover {
    background-color: rgba(128, 128, 128, 0.068);
}

.TextHebergement:hover,
.Textpopulaires:hover {
    color: #0065fc;
}

#lienHebergement {
    width: 31%;
    height: 98%;
    text-decoration: none;
    color: black;
    border-radius: 20px;
}

.ImageHebergement1,
.ImageHebergement2,
.ImageHebergement3,
.ImageHebergement4,
.ImageHebergement5,
.ImageHebergement6 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}

.BoxImageHebergement1,
.BoxImageHebergement2,
.BoxImageHebergement3,
.BoxImageHebergement4,
.BoxImageHebergement5,
.BoxImageHebergement6 {
    width: 100%;
    height: 125px;
    border-radius: 15px 15px 0 0;
}

.TextHebergement {
    width: 100%;
    height: 47%;
    margin-left: 9%;
    position: relative;
}

.Etoileshebergements {
    padding: 1% 0% 5% 0%;
}

.Afficherplus {
    font-weight: bold;
    margin: 1% 0px 0px 4%;
}

/*  -----------------------------------------------------POPULAIRES----------------------------------------------- */

.Boxtitre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Titrepopulaires {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 82%;
    max-height: 20px;
    margin-top: 10%;
    font-size: 22px;
}

.AllCardpopulaires {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 700px;
}

#lienpopulaires1,
#lienpopulaires2,
#lienpopulaires3 {
    width: 84%;
    height: 100%;
    text-decoration: none;
    color: black;
    margin-top: 5.5%;
}

#lienpopulaires1 {
    margin-bottom: 3.5%;
}

#lienpopulaires2 {
    margin-bottom: 3.5%;
}

#lienpopulaires3 {
    margin-bottom: 5.5%;
}

.Card1populaires,
.Card2populaires,
.Card3populaires {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 20px 2px rgba(128, 128, 128, 0.527);
}

.BoxImgpopulaires1,
.BoxImgpopulaires2,
.BoxImgpopulaires3 {
    width: 40%;
    height: 150px;
    margin: 1.5% 0px 1.5% 1.5%;
}

.NomLogementspopulaire1,
.NomLogementspopulaire2,
.NomLogementspopulaire3 {
    font-weight: bolder;
    font-size: 19px;
    margin: 9% 0% 0% 0%;
}

.Prixpopulaires {
    margin: 4% 0% 23% 0%;
}

.Imagepopulaires1,
.Imagepopulaires2,
.Imagepopulaire3 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}

.BoxTextpopulaire1,
.BoxTextpopulaire2,
.BoxTextpopulaire3 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 55%;
    margin: 0% 3% 0% 6%;
}

.Etoiles {
    position: absolute;
    bottom: 4%;
}

/*------------------------------------------------------------ACTIVITES--------------------------------------------------------------*/

.Toutesactivites {
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    height: 500px;
    width: auto;

    margin-bottom: 2%;
}

.titreactivite {
    font-size: 20px;
    margin-top: 4%;
    margin-bottom: 2%;
}



.BoxVieuxPort {
    height: 100%;
    width: 40%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 2px 2px 20px 2px rgba(128, 128, 128, 0.527);
}

.BoxImgVieuxport {
    height: 87%;
    overflow: hidden;

    position: relative;
}

.ImgVieuxport {
    position: absolute;
    left: -50%;
}

.Nomactivitesvieuxport {
    height: 13%;
}

.BoxFortetIles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 40%;
    border-radius: 20px;
    padding-right: 7%;
}

.BoxFortdepomègues {
    height: 56%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 20px 2px rgba(128, 128, 128, 0.527);
    position: relative;
    overflow: hidden;
}

.BoxImgFortdepomègues {
    height: 78%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.ImgFortdepomègues {
    width: 366px;
    position: absolute;
    top: -61%;
    left: 0%;
}


.Nomactivitesfort {
    height: 22%;

}

h4 {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0% 0% 0% 4%;
    font-size: 20px;

}

.BoxIlesdeFrioul {
    height: 38%;
    width: 100%;
    margin-top: 5%;
    position: relative;
    border-radius: 20px;
    box-shadow: 2px 2px 20px 2px rgba(128, 128, 128, 0.527);
}

.BoxImgIlesdeFrioul {
    height: 70%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;

}


.ImgIlesdeFrioul {
    width: 100%;
    position: absolute;
    top: 0%;
}



.Nomactivitesiles {
    height: 31%;
}

.BoxParcNational {
    height: 100%;
    width: 40%;
    box-shadow: 2px 2px 20px 2px rgba(128, 128, 128, 0.527);
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 2%;
}

.BoxImgParcNational {
    height: 87%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.ImgParcNational {
    height: 514px;
    position: absolute;
    top: -4%;
    left: -60%;
}

.Nomactivitesparcnational {
    height: 13%;
}

.Boxnotredameetparclong {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 47%;

    border-radius: 20px;
}

.BoxNotreDame {
    height: 45%;
    width: 100%;
    box-shadow: 2px 2px 20px 2px rgba(128, 128, 128, 0.527);
    border-radius: 20px;
}

.BoxImgNotreDame {
    height: 72%;
    ;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.ImgNotreDame {
    width: 100%;
    height: 227px;
    position: absolute;
    top: 0%;

}

.Nomactivitesnotredame {
    height: 25%;
}

.BoxParcLongchamp {
    height: 45%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 20px 2px rgba(128, 128, 128, 0.527);
}


.BoxImgParcLongchamp {
    height: 75%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.ImgParcLongchamp {
    height: 314px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    top: -30%;
}


.Nomactivitesparclong {
    height: 25%;
}

.Cardleftactivite {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 49%;
}


.cardrightactivite {

    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 49%;

}


footer {
    height: 250px;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;

    margin-top: 4%;
}

.premieresection,
.deuxiemesection,
.troisiemesection {
    display: flex;
    align-items: flex-start;
    width: 100%;
    text-decoration: none;

}


h5 {
    font-size: 20px;
    padding: 7% 0% 2% 0%;
    font-weight: bolder;
    margin: 0%;
}


ul {
    padding-left: 8%;
    margin: 0%;
    list-style: none;
    width: 100%;
    height: 100%;
}

.listefooter {
    color: black;
    padding-top: 13px;
    font-weight: 500;

}



.lienfooter {
    text-decoration: none;
    color: black;
}