header,
nav {
    margin: 0px;
}



.BoxHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.boxlogo {
    display: flex;
    justify-content: center;
    min-width: 200px;
    max-height: 50px;
    padding: 10px;


}

.boxlien {
    width: 100%;
    max-height: 50px;
}


.lien1:hover,
.lien2:hover {
    border-bottom: solid 3px #0065fc;
    color: #0065fc;
    border-top: none;

}

.lien1,
.lien2 {

    border-bottom: solid 3px rgba(128, 128, 128, 0.322);

    height: 50%;
    font-weight: bold;
    width: 100%;
}

#img {
    padding-left: 30px;
}

.Boxform {
    max-width: 316px;
}

.Formulaire1 {
    width: 15%;
}

.Formulaire2 {
    width: 73%;
    right: 11%;
}

.Formulaire3 {
    width: 15%;
    right: 0%;
    background-color: #0065fc;
    border-radius: 15px 15px 15px 15px;
    border: hidden;
    color: white;
}

.submit {
    display: none;
}

#iconesearch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*filtres*/

.Allfiltres {
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 363px;
}

.Boxeconomique,
.Boxfamilial,
.Boxromantique,
.Boxanimaux {
    margin: 7px 0px 7px 0px;

}

.Boxeconomique {
    margin-right: 10px;
}




.BoxFiltre {
    margin: 7px 0px 15px 7px;
    min-width: 96%;



}

.TextEconomique {
    padding: 0px 13px 0px 9px;
}

.TextFamilial {
    padding: 0px 13px 0px 9px;

}

.TextRomantique,
.TextAnimaux {
    padding: 0px 13px 0px 9px;
}